<%- include('../partials/layoutTop') %>

  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <%- include('../partials/sidebar') %>
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('../partials/topbar') %>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
              <!-- Page Heading -->
              <h1 class="h3 mb-2 text-gray-800">
                <%= titlePage %>
              </h1>
              <p class="mb-4">
                <%= description %>
              </p>
              <!-- DataTable -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <a href="/purchases/add" class="btn btn-primary btn-icon-split m-0">
                    <span class="icon text-white-50">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Add</span>
                  </a>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTablePurchase" width="100%"
                      aria-describedby="dataTable_info" cellspacing="0">
                      <thead>
                        <tr role="row">
                          <th class="align-content-center">Invoice</th>
                          <th class="align-content-center">Time</th>
                          <th class="align-content-center">Total Summary</th>
                          <th class="align-content-center">Supplier</th>
                          <th class="align-content-center">Action</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Invoice</th>
                          <th>Time</th>
                          <th>Total Summary</th>
                          <th>Supplier</th>
                          <th>Action</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <!-- DataTables will populate this section -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <%- include('../partials/footer') %>
          <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
  <%- include('../partials/jsScripts') %>
    <script>
      const userId = `<%= user.id %>`
      $(document).ready(function () {
        // Initialize DataTable for purchases
        $("#dataTablePurchase").DataTable({
          responsive: true,
          searching: true,
          lengthMenu: [3, 10, 100],
          language: {
            emptyTable: "No data available in table",
            lengthMenu: "Show _MENU_ entries",
            paginate: {
              first: null,
              previous: "Previous",
              next: "Next",
              last: null,
            },
            sort: "ascending",
          },
          ajax: {
            url: "/purchases/api/purchases",
            dataSrc: "data",
          },
          columns: [
            { data: "invoice", type: "invoice" },
            { data: "time" },
            {
              data: "totalsum", className: 'purchase-totalsum',
              render: function (data, type, row) {
                return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(data);
              }
            },
            { data: "suppliername", className: 'purchase-suppliername' },
            {
              data: "invoice",
              render: function (data, type, row) {
                const isOwner = row.operator === parseInt(userId);
                return `
                  <div class="action-buttons">
                    <button class="btn btn-success m-1 ${isOwner ? '' : 'disabled'}" onclick="window.location.href='/purchases/edit/${data}'" ${isOwner ? '' : 'disabled'}>
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="btn btn-danger delete-btn m-1 ${isOwner ? '' : 'disabled'}" data-id="${data}" data-type="purchase" ${isOwner ? '' : 'disabled'}>
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                `;
              },
              orderable: false
            },
          ],
          createdRow: function (row, data, dataIndex) {
            $(row).attr('id', `purchase-${data.invoice}`);
            $('td', row).addClass('align-middle');
          }
        });
      });
    </script>
    <%- include('../partials/layoutBottom') %>