<%- include('partials/layoutTop') %>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include('partials/sidebar') %>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <!-- Main Content -->
          <div id="content">
            <!-- Topbar -->
            <%- include('partials/topbar') %>
              <!-- End of Topbar -->
              <!-- Begin Page Content -->
              <div class="container-fluid">
                <h1>
                  Welcome, <%= user.name %>
                </h1>
                <div class="row">
                  <div class="col-md-12 mb-4">
                    <div class="card shadow">
                      <form id="formSearchDate">
                        <div class="card-header py-3">
                          <h6 class="m-0 font-weight-bold text-primary">
                            <%= titleForm %>
                          </h6>
                        </div>
                        <div class="card-body">
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="startdate">Start Date</label>
                              <input type="date" class="form-control" id="startdate" name="startdate"
                                autocomplete="off">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="enddate">End Date</label>
                              <input type="date" class="form-control" id="enddate" name="enddate" autocomplete="off">
                            </div>
                          </div>
                        </div>
                        <div class="div card-footer">
                          <button type="submit" class="btn btn-success btn-icon-split" id="searchQuery">
                            <span class="icon text-white-50">
                              <i class="fas fa-search"></i>
                            </span>
                            <span class="text">Query</span>
                          </button>
                          <button class="btn btn-warning btn-icon-split" id="resetQuery">
                            <span class="icon text-white-50">
                              <i class="fas fa-undo"></i>
                            </span>
                            <span class="text">Reset</span>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- Summary -->
                <div class="row">
                  <!-- Purchases (Annual) Card-->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              Purchases</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="purchases">Rp 0,00</span>
                            </div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Sales (Annual) Card-->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              Sales</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="sales">Rp 0,00</span></div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Earnings (Annual) Card-->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                              Earnings</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="earnings">Rp 0,00</span></div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Total Sales Card-->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                              Total Sales</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalsales"></span></div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Charts -->
                <div class="row">
                  <!-- Area Chart -->
                  <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4">
                      <!-- Card Header - Dropdown -->
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                        <div class="dropdown no-arrow">
                          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </div>
                      </div>
                      <!-- Card Body -->
                      <div class="card-body">
                        <div class="chart-area">
                          <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                              <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                              <div class=""></div>
                            </div>
                          </div>
                          <canvas id="areaChartEarningOverview" width="612" height="320"
                            style="display: block; width: 612px; height: 320px;"
                            class="chartjs-render-monitor"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Pie Chart -->
                  <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                      <!-- Card Header - Dropdown -->
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                        <div class="dropdown no-arrow">
                          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </div>
                      </div>
                      <!-- Card Body -->
                      <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                          <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                              <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                              <div class=""></div>
                            </div>
                          </div>
                          <canvas id="pieChartRevenueSources" width="273" height="245"
                            style="display: block; width: 273px; height: 245px;"
                            class="chartjs-render-monitor"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                          <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Direct
                          </span>
                          <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Customer
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- DataTable -->
                <div class="row">
                  <div class="col-md-12 mb-4">
                    <div class="card shadow w-100">
                      <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Earnings Monthly Report</h6>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-bordered" id="dataTableMonthlyEarning"
                            aria-describedby="dataTable_info" cellspacing="0">
                            <thead>
                              <tr role="row">
                                <th class="align-content-center">Monthly</th>
                                <th class="align-content-center">Expense</th>
                                <th class="align-content-center">Revenue</th>
                                <th class="align-content-center">Earning</th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr>
                                <th>Monthly</th>
                                <th>Expense</th>
                                <th>Revenue</th>
                                <th>Earning</th>
                              </tr>
                            </tfoot>
                            <tbody>
                              <!-- DataTables will populate this section -->
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.container-fluid -->
          </div>
          <!-- End of Main Content -->
          <!-- Footer -->
          <%- include('partials/footer') %>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <%- include('partials/jsScripts') %>
      <script>
        const formSearchDate = $("#formSearchDate");
        const startdate = $("#startdate");
        const enddate = $("#enddate");
        const searchQuery = $("#searchQuery");
        const resetQuery = $("#resetQuery");
        const ctxAreaChartEarningOverview = $("#areaChartEarningOverview");
        const ctxPieChartRevenueSources = $("#pieChartRevenueSources");

        const areaChartEarningOverview = new Chart(ctxAreaChartEarningOverview, {
          type: 'line',
          data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
              label: 'Earnings',
              lineTension: 0.3,
              backgroundColor: 'rgba(78, 115, 223, 0.05)',
              borderColor: 'rgba(78, 115, 223, 1)',
              pointRadius: 3,
              pointBackgroundColor: 'rgba(78, 115, 223, 1)',
              pointBorderColor: 'rgba(78, 115, 223, 1)',
              pointHoverRadius: 3,
              pointHoverBackgroundColor: 'rgba(78, 115, 223, 1)',
              pointHoverBorderColor: 'rgba(78, 115, 223, 1)',
              pointHitRadius: 10,
              pointBorderWidth: 2,
              data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            }],
          },
          options: {
            maintainAspectRatio: false,
            layout: {
              padding: {
                left: 10,
                right: 25,
                top: 25,
                bottom: 0
              }
            },
            scales: {
              xAxes: [{
                time: {
                  unit: 'date'
                },
                gridLines: {
                  display: false,
                  drawBorder: false
                },
                ticks: {
                  maxTicksLimit: 7
                }
              }],
              yAxes: [{
                ticks: {
                  maxTicksLimit: 5,
                  padding: 10,
                  callback: function (value, index, values) {
                    return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', maximumFractionDigits: 0 }).format(value);
                  }
                },
                gridLines: {
                  color: 'rgb(234, 236, 244)',
                  zeroLineColor: 'rgb(234, 236, 244)',
                  drawBorder: false,
                  borderDash: [2],
                  zeroLineBorderDash: [2]
                }
              }],
            },
            legend: {
              display: false
            },
            tooltips: {
              backgroundColor: 'rgb(255,255,255)',
              bodyFontColor: '#858796',
              titleMarginBottom: 10,
              titleFontColor: '#6e707e',
              titleFontSize: 14,
              borderColor: '#dddfeb',
              borderWidth: 1,
              xPadding: 15,
              yPadding: 15,
              displayColors: false,
              intersect: false,
              mode: 'index',
              caretPadding: 10,
              callbacks: {
                label: function (tooltipItem, chart) {
                  var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                  return datasetLabel + ': ' + new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', maximumFractionDigits: 0 }).format(tooltipItem.yLabel);
                }
              }
            }
          }
        });

        const pieChartRevenueSources = new Chart(ctxPieChartRevenueSources, {
          type: 'doughnut',
          data: {
            labels: ['Direct', 'Customer'],
            datasets: [{
              data: [50, 50],
              backgroundColor: ['#4e73df', '#1cc88a'],
              hoverBackgroundColor: ['#2e59d9', '#17a673'],
              hoverBorderColor: 'rgba(234, 236, 244, 1)',
            }],
          },
          options: {
            maintainAspectRatio: false,
            tooltips: {
              backgroundColor: 'rgb(255,255,255)',
              bodyFontColor: '#858796',
              borderColor: '#dddfeb',
              borderWidth: 1,
              xPadding: 15,
              yPadding: 15,
              displayColors: false,
              caretPadding: 10,
            },
            legend: {
              display: false
            },
            cutoutPercentage: 80,
          },
        });

        function fetchData() {
          const startdate = $('#startdate').val();
          const enddate = $('#enddate').val();
          const purchases = $('#purchases');
          const sales = $('#sales');
          const earnings = $('#earnings');
          const totalsales = $('#totalsales');

          // Fetch data for summary
          $.ajax({
            url: `dashboard/api/summary`,
            method: 'GET',
            success: function (response) {
              if (response && response.data) {
                const summaryData = response.data;
                purchases.text(new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(summaryData.purchases));
                sales.text(new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(summaryData.sales));
                earnings.text(new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(summaryData.earnings));
                totalsales.text(summaryData.totalsales);
              } else {
                console.error('Invalid response for summary:', response);
              }
            },
            error: function (xhr, status, error) {
              console.error('Error fetching summary:', error);
            }
          });

          // Fetch data for area chart
          $.ajax({
            url: `dashboard/api/monthlyearnings`,
            method: 'GET',
            data: { startdate, enddate },
            success: function (response) {
              if (response && response.data) {
                const earningsData = response.data;
                const earningsLabels = earningsData.map(item => item.date);
                const earningsValues = earningsData.map(item => item.earning);

                areaChartEarningOverview.data.labels = earningsLabels;
                areaChartEarningOverview.data.datasets[0].data = earningsValues;
                areaChartEarningOverview.update();
              } else {
                console.error('Invalid response for monthly earnings:', response);
              }
            },
            error: function (xhr, status, error) {
              console.error('Error fetching monthly earnings:', error);
            }
          });

          // Fetch data for pie chart
          $.ajax({
            url: `dashboard/api/revenuesources`,
            method: 'GET',
            data: { startdate, enddate },
            success: function (response) {
              if (response && response.data) {
                const revenueData = response.data;
                pieChartRevenueSources.data.datasets[0].data = [revenueData.direct, revenueData.customer];
                pieChartRevenueSources.update();
              } else {
                console.error('Invalid response for revenue sources:', response);
              }
            },
            error: function (xhr, status, error) {
              console.error('Error fetching revenue sources:', error);
            }
          });
        }

        $(document).ready(function () {
          const dtMonthlyEarning = $("#dataTableMonthlyEarning").DataTable({
            responsive: true,
            searching: true,
            lengthMenu: [10, 100],
            language: {
              emptyTable: "No data available in table",
              lengthMenu: "Show _MENU_ entries",
              paginate: {
                first: null,
                previous: "Previous",
                next: "Next",
                last: null,
              },
            },
            sortable: true,
            ajax: {
              url: "/dashboard/api/monthlyearnings/",
              dataSrc: "data",
              data: function (d) {
                d.startdate = $('#startdate').val();
                d.enddate = $('#enddate').val();
              }
            },
            columns: [
              { data: "date" },
              {
                data: "expense",
                render: function (data, type, row) {
                  return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(data);
                }
              },
              {
                data: "revenue",
                render: function (data, type, row) {
                  return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(data);
                }
              },
              {
                data: "earning",
                render: function (data, type, row) {
                  return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(data);
                }
              },
            ],
            order: [],
            createdRow: function (row, data, dataIndex) {
              $('td', row).addClass('align-middle');
            }
          });

          $('#searchQuery').on('click', function (e) {
            e.preventDefault();
            dtMonthlyEarning.ajax.reload();
            fetchData();
          });

          $('#resetQuery').on('click', function (e) {
            e.preventDefault();
            startdate.val('');
            enddate.val('');
            dtMonthlyEarning.ajax.reload();
            fetchData();
          });
          fetchData();
        });
      </script>
      <%- include('partials/layoutBottom') %>